body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000033;
    color: #ffffff;
}

.App {
    text-align: center;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

@keyframes twinkle {
    0% {opacity: 0.5;}
    50% {opacity: 1;}
    100% {opacity: 0.5;}
}

.App-header {
    background-color: rgba(0, 0, 51, 0.7);
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.news-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    z-index: 1;
}

.news-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.news-column {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.news-column h2 {
    color: #4da6ff;
    margin-bottom: 20px;
}

.news-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.news-item {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.news-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
}

.news-item a {
    color: #4da6ff;
    text-decoration: none;
    font-weight: bold;
}

.news-item a:hover {
    color: #80c1ff;
    text-decoration: underline;
}

.news-item-meta {
    font-size: 0.8em;
    color: #b3d9ff;
    margin-top: 10px;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a, .pagination strong {
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a:hover {
    background-color: #4da6ff;
}

.pagination strong {
    background-color: #4da6ff;
    color: white;
    border: 1px solid #4da6ff;
}

.ellipsis {
    padding: 8px 16px;
    color: #ffffff;
}